.Skills-wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 3.5rem;
    font-family: 'Verdana';
}

.Skills-outer-container{
    display: grid;
    grid-template-rows: auto auto;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    font-size: 2rem;
}

.Skills-title{
    font-size:2.3rem;
    margin-bottom: 3rem;
    font-weight: bold;
}

.Skills-list-title{
    font-size: 1.7rem;
}

.Skills-list{
    list-style-type: none;
    font-size: 1.2rem;
}

