.About-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    /* justify-content: center; */
}

.my-pic {
    height: 50vh;
    margin: 4rem 4rem 10rem 2rem;
}

.About-info-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 2.3rem;
    margin: 4rem 2rem 10rem 4rem;
    font-family: 'Verdana';
}

.About-location{
    font-weight: bold;
}
.About-description {
    margin-top: 2.5rem;
    font-size: 1.7rem; 
}