.App {
  text-align: center;
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 3fr;
  background: url("./images/background.png");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
