.App {
  text-align: center;
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr 3fr;
  background: url("./images/background.png")
  no-repeat center right fixed;
  background-size: cover;
}
